services:
  webapp:
    build: .
    container_name: webapp
    ports:
      - "8080:8080"
    environment:
      - APP_PORT=8080
      - REDIS_ADDRESS=redis
      - REDIS_PORT=6379
    labels:
      - "io.prometheus.container.name=webapp"
    depends_on:
      - redis

  redis:
    image: redis:alpine
    container_name: redis
    labels:
      - "io.prometheus.container.name=redis"

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - cadvisor

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.47.0
    container_name: cadvisor
    privileged: true
    devices:
      - /dev/kmsg
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro