global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
    metric_relabel_configs:
      - source_labels: [name]
        regex: '(.+)'
        target_label: container_name
      - source_labels: [container_label_io_prometheus_container_name]
        regex: '(.+)'
        target_label: container_name